# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
GTAV_ScriptCamTool/bin/x64/Debug/NativeUI.dll
GTAV_ScriptCamTool/bin/x64/Debug/NativeUI.xml
GTAV_ScriptCamTool/bin/x64/Debug/ScriptHookVDotNet2.dll
GTAV_ScriptCamTool/bin/x64/Debug/ScriptHookVDotNet2.xml
.vs/GTAV_ScriptCamTool/v16/.suo
.vs/GTAV_ScriptCamTool/v16/Server/sqlite3/db.lock
.vs/GTAV_ScriptCamTool/v16/Server/sqlite3/storage.ide
.vs/GTAV_ScriptCamTool/v16/Server/sqlite3/storage.ide-shm
GTAV_ScriptCamTool/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GTAV_ScriptCamTool/obj/x64/Debug/GTAV_ScriptCamTool.csproj.CopyComplete
GTAV_ScriptCamTool/obj/x64/Debug/GTAV_ScriptCamTool.csproj.FileListAbsolute.txt
GTAV_ScriptCamTool/obj/x64/Debug/GTAV_ScriptCamTool.csprojAssemblyReference.cache
